{{define "main"}}
<div class="container px-0">
  <div class="feature m-4">
    <div>
      <h2>{{ i18n "home.be4foss" }}</h2>
      <p>{{ .Content }}</p>
    </div>
    <div class="img-fluid">
      <picture>
        <source srcset="/assets/img/placeholder_be-ecolabel.jpg" media="(prefers-color-scheme: dark)">
        <img alt="{{ i18n "home.be4foss.alt" }}" src="/images/be-ecolabel.png">
      </picture>
    </div>
  </div>
  <section>
    <div class="container feature my-4">
      <div>
        <h2>{{ i18n "home.help" }}</h2>
        <ul>
          <li>{{ i18n "home.help.one" }}</li>
          <li>{{ i18n "home.help.two" }}</li>
          <li>{{ i18n "home.help.three" }}</li>
          <li>{{ i18n "home.help.four" }}</li>
          <li>{{ i18n "home.help.five" }}</li>
        </ul>
      </div>
      <div>
        <picture class="img-fluid">
          <source srcset="/assets/img/placeholder_help.png" media="(prefers-color-scheme: dark)">
          <img alt="{{ i18n "home.help.alt" }}" src="/assets/img/placeholder_help.png">
        </picture>
      </div>
  </section>
</div>
{{end}}
