{{ define "main" }}
<main id="top" role="main">
	<section class="section-blue mt-0">
		<div class="container p-5 row mx-auto">
			<div class="col-lg-8">

				<h1 class="my-2">{{ .Title | humanize }}&nbsp;{{ partial "rss_section.html" . }}</h1>
				{{ $title := .Title }}

			</div>
		</div>
	</section>
	<div class="container ">

		<div class="handbook row">
			<div class="my-5 toc col-lg-4 ">
				<div class="sticky">

					<h2>Table of contents</h2>
					{{ range .Pages }}

					{{ .Page.TableOfContents }}
					{{ end }}
				</div>
				<br>
			</div>
			<div class="content col">

				<!-- Ranges through content/opt-green-handbook/*.md -->
				{{ range .Pages }}
				<div class="my-5 ">
					{{.Content}}
				</div>
				{{ end }}
			</div>
		</div>

	</div>


	</div>
</main>
{{ end }}
