{{ define "main" }}
{{- $pdf := index (os.ReadDir "static/handbook/opt-green-handbook") 0 -}}
<main id="top" role="main">
	<section class="section-blue mt-0">
		<div class="container py-5 d-flex flex-wrap">
			<div class="col-lg-8 col-12 me-auto">
				<h1 class="my-2">{{ .Title | humanize }}&nbsp;{{ partial "rss_section.html" . }}</h1>
				<h2>{{ .Params.subtitle }}</h2>
				{{ $title := .Title }}
			</div>
			<a href="/handbook/opt-green-handbook/{{ $pdf.Name }}" download="KDE Eco - Opting Green.pdf" class="my-auto flex-grow btn btn-outline-success btn-lg">Download PDF</a>
		</div>
	</section>
	<div class="container ">

		<div class="handbook row">
			<div class="my-5 toc col-lg-4 ">
				<div class="sticky">
					<h2>Table of contents</h2>
					{{ .Page.TableOfContents }}
				</div>
				<br>
			</div>
			<div class="content col">
				<div class="my-5 ">
					{{.Content}}
				</div>
			</div>
		</div>

	</div>


	</div>
</main>
{{ end }}
